.ff-heading {
    font-family: Inter, sans-serif;
}

@font-face {
    font-family: Blender;
    src: url('../fonts/Blender-Medium.ttf');
    display: block;
}
.ff-blender {
    font-family: Blender, sans-serif;
}