<!DOCTYPE html>
<html>

<head>
    <title>Real time to Tarkov's ingame time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="See the current and future times in Escape from Tarkov. Time in Escape from Tarkov moves at 7 seconds per second.">
    <style>{{{style}}}</style>
    <script type="module">{{{script}}}</script>
</head>

<body class="bg-grey-900 text-grey-300">
    <div id="root"><noscript>requires JS. <a href="/api">Visit /api to see the times without JS</a></noscript></div>
</body>

</html>
