<!DOCTYPE html>
<html>

<head>
    <title>Tarkov: Real time to In-game time</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico?!"  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{{{style}}}</style>
</head>

<body class="bg-grey-900 text-grey-300">
    <div id="root"><noscript>requires JS.</noscript></div>
    <script>{{{script}}}</script>
</body>

</html>
